@{
    ViewData["Title"] = "Şifre Sıfırlandı";
}

<h2>Şifre Sıfırlama Başarılı</h2>
<p>Şifreniz başarıyla sıfırlandı. Şimdi <a asp-controller="Account" asp-action="Login">giriş yapabilirsiniz</a>.</p>
